html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
/* Login */
.left-panel {
  background: url("../images/login-side-image.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
/* sidebar */
.sidebar {
  width: 250px;
  height: 95vh;
  background-color: #ffffff;
  border-radius: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 2rem 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}
.sidebar_list {
  overflow: auto;
}

.nav-link {
  color: #333;
  border-radius: 10px;
  padding: 0.75rem 1rem;
}

.nav-link:hover,
.nav-link.active {
  background-color: #4e5bf2 !important;
  color: #fff !important;
}
.nav-link:hover a,
.nav-link.active a {
  color: #fff !important;
}
.main-container {
  position: absolute;
  top: 20px;
  left: 290px;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* topbar */
.topbar {
  flex-shrink: 0;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.content-scrollable {
  flex-grow: 1;
  overflow-y: auto;
  /* padding: 1rem 2rem; */
  margin-top: 20px;
}

.card {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chart-placeholder {
  height: 150px;
  background: linear-gradient(
    to right,
    #ddd 10%,
    #f1f1f1 10%,
    #f1f1f1 20%,
    #ddd 20%,
    #ddd 30%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
  border-radius: 10px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.form-section label {
  font-weight: 500;
  font-size: 0.95rem;
  margin-bottom: 4px;
}

.form-section input,
.form-section select {
  font-size: 0.95rem;
}

.error-message {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .form-section .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.form-check-input {
  width: 40px !important;
  height: 1.5rem;
  border-radius: 2rem;
  background-color: #e9ecef;
  position: relative;
}

.form-check-input:checked {
  background-color: #3b82f6; /* Blue */
  border-color: #3b82f6;
}

.table-responsive {
  overflow-x: auto;
  white-space: nowrap;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.breadcrumb {
  font-size: 14px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 8px;
  color: #888;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: #333;
}

.breadcrumb a {
  color: #6c757d;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.text-justify {
  text-align: justify;
}

.accordion-body {
  transition: all 0.3s ease-in-out;
}

.accordion-button:not(.collapsed) {
  background-color: #e7f1ff;
  color: #0d6efd;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
  box-shadow: none;
}
